@font-face {
  font-family: 'Intro';
  src: local('Intro'), url('./assets/fonts/intro.woff2') format('woff2'), url('./assets/fonts/intro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans'), local('ClearSans'), url('./assets/fonts/clearsans.woff2') format('woff2'), url('./assets/fonts/clearsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url('./assets/fonts/clearsansbold.woff2') format('woff2'), url('./assets/fonts/clearsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Clear Sans", sans-serif;
}

#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
}